# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
.clj-kondo/
.lsp/
*.log

# Raycast specific files
raycast-env.d.ts